<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agreement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>TERMS AND CONDITIONS</ion-card-title>
    </ion-card-header> -->
    <ion-card-content innerHTML="true">
<strong>The terms of use in this Agreement is effective as of 1 August 2019.</strong><br><br>

<strong>1. Acceptance</strong><br>

By accessing or using any part of the app, the service and/or content (i.e. any information, data, or other content or materials appearing or otherwise made accessible on or through the site or application), Service Users and third-party Service Providers agree to be bound by these Terms, which shall govern your access to and use of the service of HERO. <br><br>

Modifications, updates and/or improvements to the site, application, services and/or content are likewise covered by these Terms. HERO may, at any time, without prior notice, at its sole discretion, modify, amend, change in part or in whole the Terms by posting such to the site. Continued access or use of the site, application, service or content, after said posting signifies Service Users’ and third-party Service Providers’ unqualified acceptance of the modification, amendment and/or change, which are effective, retroactively, on the day of posting. <br><br>

Accessing and/or using of the application, services and/or the content may be subject to specific laws, domestic and international. The Service Users and third-party Service Providers assume full and sole responsibility to ensure that they access and/or use the services and the content only in compliance with such applicable laws. <br><br>

HERO does not and cannot warrant that the site, application, services and/or the content is legal outside the Philippines. The Service Users and third-party Service Providers assume full and sole responsibility if they opt to access the site, application, services and/or the content outside the Philippines. <br><br>


<strong>2. Definitions</strong><br>
1.  “Account” means a registered  account which you may be required to create if you wish to access and utilize the full facilities and features of the app, whether as a Service User or Service Provider;<br><br>

2.  “Agreement” means the terms of use agreed to by a Service User or Service Provider which are binding upon acceptance;<br><br>

3.  “Password” means the password which you may be required to create, provide and use in order to created and use an Account;<br><br>


4.  “Platform” means the application on which the Service Request is made. It includes: (a) Requesting/Accepting Service Requests; (2) Facilitating quotations of services from third-party Service Providers to Service Users; (3) Other related services.<br><br>

5.  “Service/s” means the professional service offered and / or to be rendered by the third-party Service Provider in the course of business to a Service User. Full details of the service inclusions can be seen at the “What’s Included” portion of the Booking Page;<br><br>

6.  “Service User” means any person, natural or juridical, who has duly registered and (i)  used or browsed the app/website; and /or (ii) submitted a request for professional services offered by third-party Service Providers, through the platform in order to receive price quotations, regardless of whether such Service User ultimately hires or does not hire a third-party Service Provider through the app/website; <br><br>

7.  “Service Provider” means any technically skilled person who has duly registered for the purpose of offering or making his/her Services available to the Service Users. A person is presumed to be technically skilled if he/she is duly certified by the Technical Education and Skills Development Authority (TESDA) as such, or has completed skills training from a TESDA accredited institution/school;<br><br>

8.  “Terms of Use” refer to these Terms of Use, Privacy Policy and any Additional Policies as may be modified from time to time;<br><br>

9.  “user”, “you” and “your”, as applicable, means a person who accesses, uses, and/or participates in the Website in any manner, whether as a Service User or Service Provider; and<br><br>

10. “HERO app” means (i) the app, website and any other related microsites and/or  mobile or web applications operated by HERO which may or may not be of similar names; and (ii) any related or ancillary facilities or functions such as e-mails, SMS, newsletters, notifications or other communication or content.<br><br>
   
<strong>3.  The HERO Platform</strong><br>

The HERO Platform is a communications platform that enables individuals or businesses (Service Users) to seek and obtain the professional services of accredited third-party Service Providers. HERO does not provide professional services. HERO shall not be responsible or liable for any services provided or failed to be provided by third-party Service Providers, including any injury, damage or breakage that may occur during and/or after the services have been performed. <br><br>


The Service Users must exercise caution and due diligence to protect their property and personal safety. By the use of the HERO Platform, the Service User agrees to hold HERO free from any and all claims for damages, loss, injury and/or death that may arise from dealing with third-party Service Providers, their conduct, and all the Services they provide. <br><br>

<strong>4.  User Representation</strong><br>

<em>By registering, using or participating in the HERO app, you represent, warrant and undertake that:</em><br>
1.  You are at least eighteen (18) years of age;<br><br>

2.  You are or intend to be either a Service Provider or Service User;<br><br>

3.  You have the authority to enter into and accept these Terms of Use;<br><br>

4.  All registration or other information  that you are required to submit in order to gain full use of the HERO app for your intended purpose as a Service Provider or Service User is true and accurate and that you will maintain the accuracy of such information; <br><br>

5.  Your use of the HERO app and Services offered through the platform do not violate any applicable law or regulation which you are subject to; and<br><br>

6.  You acknowledge and agree to HERO’s fees and its related policies;<br><br>

7.  You undertake to pay for any Services requested through the use of the HERO app;<br><br>

8.  You acknowledge and agree that the third-party Service Provider is personally and solely responsible and liable for any claim for damage, loss, injury, and/or death related to the service provided or failed to provide;<br><br>

9.  You agree that the platform is provided “as is” and without warranty;<br><br>

10. You agree that the platform is a technology platform providing a way for accredited third-party Service Providers to offer services to duly registered Service Users;<br><br>

11. You undertake to hold HERO free and harmless from any and all forms and types of dispute in relation to the service provided by the accredited third-party Service Providers.<br><br>


<strong>5.  Account</strong><br>

<em>Full access to the platform is only possible after creation of an Account where you would be required to provide your name, e-mail address and create a Password which you shall be solely responsible for, along with the following:</em><br>

1.  You shall ensure that your Password is secured. You shall not disclose your password to any third party and is solely responsible for any use or action taken by those using your password. If you are of the view that the password is compromised, you must immediately change it. You are also expected to notify HERO of any breach to your account’s security or any suspicion of its unauthorized use. 
2.  All transactions from your account shall be considered to have been made by you and you shall be responsible for the said transactions. HERO shall be free and harmless from any responsibility or liability in relation to the unauthorized, wrongful or fraudulent use of your account. Notwithstanding, you may be liable for the losses of HERO or others due to such unauthorized use.<br><br>

3.  You are expected to provide true, correct and accurate information in your account.<br><br>
4.  You may also provide additional optional information at your discretion, which is not required to create an account but which will help HERO to provide you with a more customized experience when using the platform;<br><br>
5.  You shall never use another person’s Account without permission.  You agree that you will not misrepresent yourself or represent yourself as another user of the platform and/or the Services offered through it.  <br><br>

6.  You will otherwise act in accordance with these Terms of Use and with all applicable laws.<br><br>

<strong>6.  License to Access</strong><br>

<em>Upon successful registration of your account, you are given a non-exclusive, revocable license to access, browse and/or use the platform as set forth in these Terms provided however that:</em><br>

1.  You shall not violate any applicable laws and third-party rights when using the platform and/or HERO app;<br><br>

2.  You will not copy or distribute any part of the platform in any medium without HERO’s prior written authorization;<br><br>

3.  You will not alter or modify any part of the HERO app other than as may be reasonably necessary to use the platform for its intended purpose;<br><br>

4.  You shall not post any illegal, false, malicious, inaccurate, unauthorized, inappropriate information or content in the HERO app;<br><br>

5.  You shall not post any false or inappropriate feedback and you shall at all times use careful and good judgment in leaving any feedback;<br><br>

6.  You shall not use any automated system and/or scripts, including but not limited to, “robots”, “spiders”, “offline readers”, “scrapers”, etc., to access the HERO app or any related sub-sites, back-end or aspect of the platform, for any purpose without HERO’s prior written approval;<br><br>

7.  You shall not, in any manner, change the billing process or structure found in the HERO app; <br><br>

8.  You shall not in any manual or automated manner collect Service Providers’ or Service Users’ information, including but not limited to, names, addresses, phone numbers, or email addresses, copying copyrighted text, or otherwise misuse or misappropriate information or content found in the platform;<br><br>

9.  You shall not open an account for the sole purpose of collecting any information of the Service Providers, soliciting them for employment or contracting any business outside of the platform; <br><br>

10. You shall not use the platform and / or HERO app with the intention of collecting in any manner any personal data of its Service Users for commercial or solicitation purposes;<br><br>

11. You shall not recruit, solicit, or contact through any means of communication, any Service Provider or Service User for employment or contracting for a business not affiliated with HERO without prior, written authorization from HERO;<br><br>

12. You shall not in any way submit, send or otherwise transmit more request messages to the HERO servers in a given period of time that a human can reasonably produce in the same period by using a conventional online web browser or mobile application; provided, however, that the operators of public search engines may use spiders or robots to copy materials from the site for the sole purpose of creating publicly available searchable indices of the materials, but not caches or archives of such material.  HERO reserves the right to revoke these exceptions either generally or in specific cases; <br><br>

13. You shall not take any action that (i)  unreasonably encumbers or, in HERO’s sole discretion, may unreasonably encumber the platform and/or HERO app’s infrastructure;  (ii) interferes or attempts to interfere with the proper working of the platform and/or HERO app, any third-party participation in the platform and / or HERO app, or the business of HERO generally; or  (iii) bypasses HERO’s measures that are used to prevent or restrict access to the platform and/or HERO app; <br><br>

14. You shall not use or access the platform and/or HERO app in any way that may adversely affect its performance or function or interfere with the ability of authorized parties’ access; and<br><br>

15. You agree not to collect or harvest any personally identifiable date, including without limitation, names or other Account Information, from the platform and/or HERO app, nor to use the communication systems provided by the platform for any commercial solicitation purposes.    <br><br>

<strong>7.  Prohibitions, Representations and Warranties</strong><br>

1.  You shall not upload, post, transmit, transfer, disseminate, distribute, or facilitate distribution of any content, including text, images, video, sound, date, information, or software, to any part of the platform and/or HERO app including but not limited to (i) your profile;  (ii) the posting of your Service;  (iii) the submission of your Service Request; or  (iv) the posting of any opinions or reviews in connection with the HERO app, the Service/s, the Service Provider or the Service User that:<br><br>
<em>
1.  Misrepresents the source of anything you post, including impersonation of another individual or entity of any false or inaccurate biographical information for any Service Provider, provides or create links to external sites that violate this Agreement, is intended to harm or exploit any individual in any way or is designed to solicit, or collect personally identifiable information of any person without his or her express consent;<br><br>

2.  Invades anyone’s privacy by attempting to harvest, collect or otherwise utilize or publish any of their information without their knowledge and willing consent;<br><br>

3.  Contains falsehoods or misrepresentations that could damage HERO or any third party;<br><br>

4.  Post false, inaccurate, misleading, defamatory, or libelous content (including personal information about any Service User);<br><br>

5.  Is pornographic, harassing, hateful, illegal, obscene, defamatory, libelous, slanderous, threatening, discriminatory, racially, culturally, or ethnically offensive; incites, advocates, or expresses pornography, obscenity, vulgarity, profanity, hatred, bigotry, racism or gratuitous violence, encourages conduct that would be considered a criminal offense, give rice to civil liability or violate any law, promotes racism, hatred or physical harm of any kind against any group or individual, contains nudity, violence or inappropriate subject matter, or is otherwise inappropriate;<br><br>

6.  Is subject of a copyright in whole or in part, protected trade secret or otherwise subject to third-party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from the rightful owner to post the material and to grant HERO all of the rights granted therein;<br><br>

7.  Is intended to threaten, stalk, defame, defraud, degrade, victimize, or intimidate an individual or group of individuals for any reason or to incite or encourage anyone else to do so;<br><br>

8.  Intends to harm or disrupt another user’s computer or would allow other to illegally access software or bypass security on websites or servers through any means;<br><br>

9.  Contains or could be considered “junk mail”, “spam”, “chain letters”, “pyramid schemes”, “affiliate marketing”, or unsolicited commercial advertisement, advertising for ponzi schemes, discount cards, credit counseling, online surveys or online contests;<br><br>

10. Distributes or contains viruses or any other technologies that may harm HERO or the interests or property of the platform users;<br><br>

11. Post content or items in any inappropriate category or areas on the platform;<br><br>

12. Provide links to commercial services or websites, except as allowed pursuant to the Agreement;<br><br>

13. Is non-local or irrelevant content.<br><br>
</em>

2.  You will not send messages to other users whom you have made contact with through the platform containing:<br>
<em>
1.  Offers to make national or international money transfers for amounts exceeding the asking price of a service, with intent to request a refund of any portion of the payment; or<br><br>

2.  Unsolicited advertising or marketing of a service that is (i) not offered on the platform; or (ii) is offered on an external website not affiliated with HERO.<br><br>

3.  You are solely and fully responsible for the submitted information you provide and the consequences of posting or publishing it.  HERO is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such information; <br><br>

4.  Without prejudice to the Privacy Policy, you acknowledge and agree that HERO does not guarantee any confidentiality with respect to any submitted information by users, including without limitation, your account profile or information conveyed, posted or shared by you, that is hosted and/or published on the platform and/or HERO app. <br><br>
 
5.  You hereby affirm, represent, and/or warrant that:<br><br>
</em>

1.  You own or have the necessary licenses, rights, consents, and permissions to use and authorize HERO to use all patent, trademark, trade secret, copyright or other proprietary rights in land to any and all submitted information. You also agree to pay for all royalties, fees, and any other monies owing any person by reason of the information posted by you to or through the HERO app;<br><br>

2.  You have the written consent, release, and/or permission of each and every identifiable individual person in the submitted information to use the name or likeness of each and every such identifiable individual person;<br><br>

3.  You retain all of your ownership rights in your submitted information.  You hereby grant, and you represent and warrant that you have the right to grant to HERO a perpetual, worldwide, non-exclusive, royalty-free, sub-license and/or transferable license to link to, use, reproduce, distribute, reformat, translate, prepare derivative works of, display, and perform the submitted information in connection  with the platform and HERO’s (and its successor’s) business operations, including without limitation, for the promotion and redistribution of any part or all of the HERO app (and any derivative works in any media format and through any media channels);<br><br>

4.  You also hereby grant each registered user of the platform and/or HERO app a non-exclusive license to access your profile and submitted information, and to read and use, such information as permitted through the functionality of the platform and/or HERO app and under this Agreement.<br><br>



<strong>8.  Right to Remove </strong><br>

1.  HERO reserves the right to review and decide whether the submitted information is appropriate and complies with this Agreement. You understand and agree that HERO may, in its sole discretion and without incurring any liability, review and delete or remove any information that violates this Agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of the Service Users and/or the public in general;<br><br>

2.  HERO does not endorse any information or any opinion, recommendation, or advice provided by any users and HERO expressly disclaims any and all liability in connection with all submitted information. You acknowledge and understand that when using the platform, you will be exposed to information coming from a variety of sources which may be inaccurate, offensive, indecent, or objectionable. You agree to and hereby waive any legal or equitable rights or remedies you have or may have against HERO and agree to indemnify and hold HERO, its owners, members, managers, operators, directors, officers, agent, affiliates, and/or licensors, harmless to the fullest extent allowed by law regarding all matters related to your use of the platform and/or HERO app.<br><br>


3.  HERO does not permit or authorize copyright infringing activities and infringement of intellectual property rights on the platform and/or HERO app, and will remove any information at its sole discretion, upon being notified or upon reasonable belief that an infringement has occurred, without prior notice to a user who has or is suspected to have conducted such infringement.<br><br>

<strong>9.  Service Provider</strong><br>

1.  By signing up, registering or creating an Account on the platform as a third-party Service Provider, you agree and undertake to comply with any requests for information which HERO may make for the purpose of verifying the legality, legitimacy, conduct and proper establishment of your (i) accreditation; and/or (ii) provision of your Service;<br><br>
2.  You represent and warrant that you are qualified to and can perform the Service/s you offered in this platform and/or required by Service Users with reasonable care and skill;<br><br>
3.  You agree that HERO may use mechanisms that rate or allow Service Users to rate or review the performance of the Service Provider and these ratings and reviews may be publicly available. HERO shall not be responsible for the reviews and ratings generated by the mechanisms or Service Users, in respect of the performance of the Service Provider;<br><br>
4.  You shall not register or list on the platform in a category of service that you are not qualified to offer and/or perform or that is irrelevant to or inappropriate for the service you are offering;<br><br>

5.  You shall not misrepresent the location(s) at which you can provide the listed service;<br><br>

6.  You shall not include third party brand names or other inappropriate keywords in your account profile, title or any posting, messages or submission made in or through the platform and/or HERO app;<br><br>

7.  You shall not use misleading titles, words or phrases that do not accurately describe the service you provide;<br><br>

8.  You shall not include any information in your account profile that is fraudulent or otherwise incorrect;<br><br>

9.  You shall not do anything to circumvent or avoid any fees that HERO may charge for the use of the platform;<br><br>

10. You will not solicit or offer your services directly to the Service Users, at any time;<br><br>
11. You will not use the HERO app or any information in your registered profile to promote or market your own services or promote services which are not offered in the platform, any website, service, product, party or anything not directly related to your service or otherwise prohibited by HERO in its sole discretion from time to time, or any services that may be prohibited under the law;<br><br>

12. You shall ensure that your services are deemed satisfactory by the Service Users;<br><br>
13. You agree to rectify any issue/back-job within thirty (30) days reckoned from the 5th day after completion of requested service;<br><br>
14. You agree to be bound by any other set of guidelines which would govern the performance of requested services and are required of third-party Service Providers using the HERO platform;<br><br>
15. You authorize HERO to collect payment from the Service User upon completion of requested service;<br><br>
16. You understand, acknowledge and agree that you are solely responsible for your own tax reporting and statutory compliance obligations. HERO acts solely as an online platform and is not itself a Service Professional or a Service User, and is not responsible to account for or pay any tax or comply with any laws relating to tax or relevant compliance for any transaction, sale or service provided by any Service Professional to any Service User;<br><br>

17. You shall pay all your own taxes due as a result of the services facilitated through this platform in accordance with Philippine laws. You also agree that you are solely responsible for including VAT and any other government fees and tariffs (if any) in the price quote and you shall be solely liable for any inaccuracy or incomplete tax payment; and<br><br>
18. You will not use your account, the platform and/or HERO app contrary to this Agreement which you have agreed to.<br><br>


<strong>10. Service Users</strong><br>

1.  You acknowledge your financial responsibility upon use of the services provided in the platform and you shall not use the platform knowing that you have no intention of paying, you have no ability to pay the requested service or cannot meet your obligations to the Service Provider;<br><br>

2.  You shall not sign up, request or negotiate a price for, use, or otherwise solicit a service  when you have no genuine intention as at the time of such conduct of following through with your use of or payment for the service, for the purposes of using pricing, quotations or other information received in doing so for commercial or competitive purposes, business or market intelligence purposes or general surveying, any other non-personal use;<br><br>

3.  You shall not request for or agree to a service with the intention  of causing disruption, committing fraud or other tortuous or illegal purpose;<br><br>

4.  You shall ensure payment of the services you have requested and purchased unless the Service Provider failed to perform the service/s you have requested; altered the description of the Service/s already agreed upon, there is apparent clerical error on the quotation or there is doubt in the identity of the Service Provider vis-à-vis the registered account profile;<br><br>

5.  You understand and agree as to the limitations on the warranty and liability of HERO with respect to your requested Service/s;<br><br>

6.  You shall report any issue arising from a Service/s within five (5) days from completion of the same;<br><br>

7.  You acknowledge that the provision of service is terminated upon completion of the requested Service/s unless HERO receives a Report of any issue from the Service User within five (5) days from the completion of the Service. In which case, HERO will rectify the issue, subject to the Limitations of Liability set forth in this Agreement. <br><br>


<strong>11. Payment for Services</strong><br>

1.  HERO reserves the right at its sole discretion to charge fees to Service Users and/or Service Providers for access and use of the platform, including but not limited to fees for contacting service users, responding to request from service users, or conducting transactions with service users through the HERO app. <br><br>
2.  You understand and agree that there are corresponding charges for the services rendered by third-party Service Providers. After completion of service obtained through your use of the platform, HERO will facilitate payment of the applicable charges on behalf of the third-party Service Providers, solely as such third-party Service Providers' limited payment collection agent, using the preferred payment method which will be selected upon booking, and that you have designated when initiating or modifying your account. A receipt shall be sent to your registered email address upon completion of service. By utilizing the platform, it is understood and agreed that payment of the charges in such manner shall be considered the same as payment made directly by you to the Service Provider/s. Charges will be inclusive of applicable taxes where required by law. Charges paid are also final and non-refundable. <br><br> 
3.  Collection of payment from Service User to the Service Provider will be facilitated by HERO upon completion of selected service. To enable non-cash transactions, the Service User agrees to input his/her credit/debit card information to link to HERO’s in-app payment system. <br><br>
4.  You understand and agree that (i) all charges are immediately due and demandable and (ii) payment will be facilitated by HERO using the preferred payment method you have designated when initiating or modifying your account. If your primary account payment method is determined to not able to be charged for any reason whatsoever, you agree that HERO may, as the third-party Service Providers' limited payment collection agent, use a secondary payment method in your account, if available. <br><br>
5.  HERO reserves the right to establish, remove and/or revise charges for any or all aspects of the Service/s at any time in HERO's sole discretion. You shall be responsible for charges incurred under your account, regardless of your awareness of such charges or the amounts thereof. Subject to existing laws and regulations (i.e. DTI regulations), HERO may, from time to time, provide Service Users with random promotional offers and discounts which may result in different charges for similar Service/s. <br><br>

<strong>12. Cancellation and Refunds</strong><br>

Service may be cancelled  for free at least two (2) hours prior to the time indicated in the Service Request. Cancellation shall be coursed through the platform and/or HERO app. A cancellation fee of Two Hundred Pesos (Php200.00) shall be charged against the account of the Service User or the Service Provider if cancellation of service request was made beyond the period indicated. HERO reserves the right to revise the charge at any time in its discretion.
<br><br>
A call-out fee of Three Hundred Fifty Pesos (Php350.00) shall be charged against the account of the Service User or the Service Provider if flagged as “no-show” or was not able to appear on site within thirty (30) minutes after the time indicated in the Service Request. <br><br>

Any inquiry or requests for refund arising out of errors in assessment, computation and charges shall be received by HERO (startnow19@gmail.com) within five (5) days  from notice of receipt. HERO will not accept any queries regarding the assessment, computation and charges regarding the Service/s after this point and the User waives the right to dispute any charges not disputed within this time frame. <br><br>

<strong>13. Modifications </strong><br>

HERO reserves the right, in its sole discretion, to change, modify or otherwise amend the Agreement governing the terms of use and any other documents incorporated by reference at any time.  It is your responsibility to review the Agreement for any changes.  Your use of the platform and/or HERO app following any amendment of the Agreement will signify your assent to and acceptance of any revised terms.  If you do not agree to abide by these or any future terms of use, please do not use or access the platform and/or HERO app.<br><br>
 
<strong>14. Suspension and Termination of Account</strong><br>

1.  HERO reserves the right at any time to modify or discontinue, temporarily or permanently, the platform and/or HERO app or any part thereof with or without notice and in its sole discretion.  You agree that HERO shall not be liable to you or to any third party for any modification, suspension or discontinuance of HERO’s services;<br><br>

2.  You hereby acknowledge and agree that HERO has the right, in the event of improper use of the platform and/or HERO app and/or for any breach of this Agreement, to suspend, delete, terminate, or deactivate your account, block your email or IP address, cancel or otherwise terminate your access to or participation in the use of the platform and/or HERO app or any part thereof, or remove and discard your submitted information on the platform immediately and without notice and for any reason which it may but is not obliged to disclose;<br><br>

3.  You hereby acknowledge and agree that HERO may suspend your account, with or without notice, on its own or upon verified request, if based on the available information and circumstances, it has reasonable grounds to conclude that the actions of the User, violates any obligation, representation, warranty or term of use as provided in this Agreement, provided the suspension shall not exceed ninety (90) days following the date of suspension or the completion of any investigation regarding said action, whichever period is shorter. Notwithstanding the foregoing, HERO retains the right to unilaterally terminate the account of the erring party. <br><br>

4.  It is understood that upon termination of your account, your right to participate in the platform and/or HERO app, in any way shall automatically terminate as well. <br><br>

5.  Upon termination, the account will be disabled and you may not be granted access to your account or any files or other data contained in your account.  All licenses granted to you shall likewise be immediately terminated. HERO shall not be liable to you or any third party for the termination of your access or account.  You further agree to indemnify and hold HERO and its officers, managers, members, affiliates, successor, assigns, directors, agents, suppliers, and employees harmless from any claim or demand, including reasonable attorneys’ fees and court costs, made by any third party due to or arising out of the termination.<br><br>

<strong>15. Limitation of Liability</strong><br>

1.  HERO is not a party to the transaction consummated on the platform between the Service User and Service Provider and both parties agree to release HERO and its affiliates, agents and employees from any claim, demands and damages of any kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such transaction. HERO and the Service Provider are independent from the other and nothing in this Agreement will create any partnership, joint venture, agency, franchise or employer-employee relationship between the parties. The Service Provider has no authority to make or accept any offers or representations on behalf of HERO;<br><br>

2.  HERO is likewise not liable for the accuracy, completeness, general quality of the service as performed by the third-party Service Provider. The Service User understands, acknowledges and agrees that HERO has no liability if Service User’s expectations were not met, this being subjective and dependent on the nature of the service rendered by the Service Provider. Scope of duties and responsibilities per service can be viewed at the “What’s Included” portion of the Booking page;<br><br>

3.  The Service User and the Service Provider further agree to release, indemnify, defend and hold harmless HERO, its officers, directors, employees and agents, against any claim, loss, damage (including attorney’s fees), settlement, cost, expense, civil fines, penalties or other liabilities arising from or related to the performance of the requested service;<br><br>

4.  You expressly acknowledge and agree that the use of the platform and/or HERO app is at your sole risk.  HERO, its officers, directors, employees and agents make no warranties and/or representations and disclaim all warranties, representations and/or conditions whether  express or implied arising or resulting from or under and in connection with the platform and/or HERO app, provided further that HERO, its officers, directors, employees and agents shall in no event be liable for any direct, indirect, incidental, special, general, punitive, exemplary, consequential damages or any form of damage, loss or injury in any form whatsoever (including but not limited to loss of profits, corruption or loss of data, failure in transmission of data or business interruption regardless of the theory of liability arising or resulting from or under and in connection with the website and from your use or inability to use thereof, including but not limited to:<br><br>
<em>
1.  The accuracy, completeness, satisfactory quality, uninterrupted or error-free service or operation, continuity and availability of service or operation, compatibility and usability with third party or other services, fitness for a particular purpose, quiet enjoyment, and non-infringement of third party rights of the platform and/or HERO app or any service provided;<br><br>
2.  Errors, mistakes, omissions or inaccuracies in any material, content, message, transmission or act, whether posted, e-mailed, transmitted, submitted, advertised, offered or otherwise made available in the platform and/or HERO app, whether caused by HERO or any third party;<br><br>
3.  Unauthorized access to or use of the platform and/or HERO app or its servers, data or information;<br><br>
4.  Cessation, termination or disturbance of transmission to or from the platform and/or HERO app;<br><br>
5.  Computer viruses, worms, trojan horses or other malware or by trespass or burdening network capacity whether transmitted to or through the platform and/or HERO app, whether due to the actions of any third parties or otherwise;<br><br>
6.  Any transaction or transmission between you and any third party provider of products or services of any kind in any medium whatsoever;<br><br>
7.  Any harassment, abuse, stalking, threatening, defamatory, offensive, infringing, violating or illegal submission of material, content, message, transmission or act by any user of the platform and/or HERO app or otherwise.<br><br>
</em>
5.  You further agree to indemnify and hold harmless to the fullest extent allowed by law, HERO, its officers, directors, employees and agents from and against any and all claims, damages, obligations, losses, liabilities, costs, debts and/or expenses of any nature whatsoever arising from your use of the platform and/or HERO app, your breach and/or violation of any term of this Agreement, your breach and/or violation of any third party right of any nature whatsoever, including but not limited to copyright, intellectual property, property and /or privacy rights.<br><br>


<strong>16. Intellectual Property Rights</strong><br>

1.  The content on the platform and/or HERO app (exclusive of content submitted by the users), including without limitation, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features and the like (“Data”) and the trademarks, service marks and logos contained therein (“Marks”), are owned by HERO, subject to copyright and other intellectual property rights under Philippine laws, other applicable laws and international conventions.  Such Data and/or Marks are or may become protected by copyright, trademark, patent, trade secret and other laws, and HERO owns and retains all rights in such Data and Marks;<br><br>

2.  Any unlawful use of its software, graphics, data, information, photos, sound, music, video in the platform shall constitute a material infringement of HERO’s intellectual property rights and is subject to appropriate proceedings and penalties provided by law;<br><br>

3.  HERO reserves all rights not expressly granted in and to the platform, the HERO app and Data.  You agree not to use, copy, or distribute, any of the above other than as expressly permitted herein, including any use, copying, or distribution for any commercial purposes.  <br><br>


<strong>17. Disputes</strong><br>

1.  You understand, acknowledge and agree that HERO shall not be liable for any and all claims for damages, loss, injury or death in relation to the services provided for by the third-party Service Providers. Interactions with other users, whether individuals, companies and/or organizations and whether Service Provider or Service User, found on or through the platform and/or HERO app, including payment of and performance of any service, and any other terms, conditions, warranties or representations associated with such transactions or dealings, are solely between you and such third party or user; You understand, acknowledge and agree that HERO does not and cannot make representations as to the suitability of any user you may decide to interact with on or through the platform and/or HERO app and/or the accuracy or suitability of any advice, information, or recommendations made by any user.<br><br>

2.  In the event of any dispute, such dispute shall be resolved between you and such Service User, Service Provider or any third party or user, and HERO shall not have or hold any responsibility, liability or obligation in relation thereof. However, HERO may, at the expense of the requesting party, reasonably cooperate with respect to a claim, demand or action arising out of the performance of the requested service, whether by reason of negligence, fraudulent misrepresentation, breach of contract or an express or implied warranty, condition or other term, breach of statutory duty or any duty under the law, by providing access to materials and witnesses HERO deems relevant, insofar as it is not contrary to its Privacy Policy or existing laws.<br><br>

3.  Notwithstanding the foregoing, you agree that HERO shall not be responsible or liable for any loss or damage of any sort whatsoever incurred as the result of any such transaction or dealings.  If there is a dispute between users on the platform and/or HERO app, or between users and any third party,  you acknowledge and agree that HERO is under no obligation to be involved.  In the event that a dispute arises between you and one or more users or any third party, you hereby release HERO, its officers, managers, members, directors, employees, attorneys, agents, and successors in rights from any claims, demands, and damages (actual and consequential) of every kind of nature, known or unknown, suspected or unsuspected, foreseeable or unforeseeable, disclosed or undisclosed, arising out of or in any way related to such disputes and/or the platform and/or HERO app or any service provided thereunder.<br><br>

<strong>18. Links and Advertisements</strong><br>

1.  HERO may display advertisements and promotions on platform and/or HERO app.  The manner, mode and extent of advertising by HERO on the platform and/or HERO app are subject to HERO’s sole discretion. However, the appearance of certain advertisements on the platform and/or HERO app should not be construed as endorsement from HERO of such advertised products or services.  If you decide to use the advertised contents, you agree that HERO shall not be responsible or liable for any loss or damage of any sort incurred by you as a result thereof or of any transaction with the said parties or as the result of the presence of such advertisers on the platform and/or HERO app.<br><br>

2.  The platform and/or HERO app may from time to time contain links or third parties may provide, links, contact forms and/or phone numbers to other sites or resources. You acknowledge and agree that HERO is not responsible for the availability of such external sites or resources, and is not responsible or liable for any content, advertising, products, goods or services on or available from such websites or resources.  Unless expressly stated, third party links should in no way be considered as or interpreted to be HERO’s endorsement of such sites or any product or service offered through them.<br><br>

3.  HERO does not monitor or have any control over, and make no claim or representation regarding external sites or resources.  To the extent such links are provided in the HERO app, they are provided only for your convenience and a link to a third party website does not imply HERO’s endorsement, adoption or sponsorship of, or affiliation with such third party.<br><br>

4.  Your further acknowledge and agree that HERO shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, advertising, product, goods or services available on or through any external website or resource.  Once you leave the platform and/or HERO app, this Agreement shall no longer be of authority and you are advised to check the terms and conditions of those sites or resources.  Your dealings and communications with any party other than HERO, are solely between you and such third party.  Any complaints, concerns or questions you have relating to material provided by third parties should be forwarded directly to the applicable third party.<br><br>
 
<strong>19. Data Privacy </strong><br>

<em>HERO acknowledges and recognize their responsibilities under Republic Act No. 10173 also known as the Data Privacy Act of 2012, with respect to the data it will collect, record, organize, update, use, consolidate or destruct, in relation to the platform and/or HERO app. The personal data obtained through the platform and/or HERO app is entered and stored within HERO’s authorized information and communications system and will only be accessed by HERO’s authorized personnel. HERO has instituted appropriate organizational, technical and physical security measures to ensure protection of the users’ personal data. By Furthermore, the information collected and stored in the portal shall only be used to provide, personalize, maintain and improve provision of HERO’s services which includes but not limited to the following: </em><br><br>

1.  To facilitate full access and use of the platform and/or HERO app with the creation, administration and updating of an account and user profile;<br><br>
2.  To process and validate service requests you submit through the platform and/or HERO app which includes but is not limited to verifying your identity upon log-in, location tracking and screening;<br><br>
3.  To assess your eligibility to provide services as Service Provider;<br><br>
4.  To connect Service Users with Service Providers in relation to the service request;<br><br>
5.  To compare information, and verify with third parties in order to ensure that the information is correct;<br><br>
6.  To perform internal operations necessary to provide services, including troubleshooting software bugs and operational problems, data analysis, testing and research, monitoring and analysis of usage and activity trends;<br><br>
7.  To protect the security or integrity of the platform and/or HERO app and/or any facilities or equipment used to make the services available;<br><br>
8.  To enable communications between the users and resolve customer support issues;<br><br>
9.  To ensure the safety and security of HERO’s services and all users;<br><br>
10. To verify and carry out financial transactions in relation to payments you make online; audit the downloading of date from the platform; improve the layout and/or content of pages of the platform and/or HERO app and customize for the users; identify visitors on the platform; carry out research on our users’ demographics and behavior; provide you with information we think you may find useful or which you have requested from HERO, provided you have not objected to being contacted for these purposes;<br><br>
11. Upon successful registration and creation of an account by virtue of which personal information will be provided, said personal information will be used to send you newsletters, marketing and/or promotional materials about HERO’s services and its related companies from time to time. You can unsubscribe from receiving marketing information at any time by using the unsubscribe function within the electronic marketing material. <br><br>
12. In exceptional circumstances, HERO may be required to disclose personal information, such as when there are grounds to believe that the disclosure is necessary to prevent a threat to life or health, or for law enforcement purposes, or for the fulfillment of legal and regulatory requirements and requests.<br><br>

<em>Personal data is retained for as long as you maintain your account. Once your personal data is no longer necessary for the provision of HERO’s services or upon termination of a legal or business purposes for retaining your personal data, HERO will take steps to prevent access or use of such personal data for any purpose other than compliance with the law and HERO’s privacy policy, or for purposes of safety, security, fraud prevention and detection. <br><br>

For purposes of this Agreement, “personal data” refers to any information which can be used to identify you or from which you are identifiable. This includes but is not limited to your name, residence, nationality, occupation, phone number, bank and credit card details, email address, your image, government-issued identification numbers, date of birth, biometric date, race, and civil status. HERO’s privacy policy shall be posted on the platform and/or HERO app and shall be deemed incorporated into this Agreement. <br><br></em>
  
<strong>20. Force Majeure</strong><br>

<em>Upon occurrence of an event of force majeure, HERO, may at its option, fully or partially suspend operations while such event or circumstance persists.  Without prejudice to the foregoing, the following shall be regarded as events of Force Majeure:</em><br>

1.  Act of God, explosion, flood tempest, fire or accident;<br><br>
2.  War or threat of war, sabotage, insurrection, civil disturbance or requisition, act of terrorism or civil unrest;<br><br>
3.  Acts, restrictions, regulations, by-laws, prohibitions or measures of any kind on the part of any national government or local authority;<br><br>
4.  Interruption of traffic, strikes, lock-outs or other industrial actions or trade disputes (whether involving HERO’s employees or of a third party);<br><br>
5.  Health epidemics declared by the Department of Health;<br><br>
6.  Power failure or breakdown in machinery.<br><br>

<strong>21. Separability</strong><br>

The Agreement, together with the Privacy Policy and any other legal notices or Additional Policies published by HERO on the platform and/or HERO app, shall constitute the entire agreement between you and HERO concerning the platform.  If any provision of the Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of the Agreement which shall remain in full force and effect.<br><br>

<strong>22. Governing Law and Venue</strong><br>

This Agreement shall be governed by the laws of the Republic of the Philippines and you agree to submit to the jurisdiction of its courts. In the event that any dispute relative to this agreement shall arise between the parties, it is hereby agreed that the venue of any court action shall be exclusively laid in the proper courts of Mandaluyong City to the exclusion of all other courts.
    </ion-card-content>
  </ion-card>
</ion-content>
