<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>DIRECTIONS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngIf="!coorFound">
    <ion-list-header>
      Locating your coordinates.<br> Make sure you turn on your location. <br>Please wait...
    </ion-list-header>
  </ion-list> -->
  
	<ion-card>
		<ion-card-content>
			<div #directionsPanel></div>
		</ion-card-content>
	</ion-card>
  <div #mapElement class="map"></div>
</ion-content>