<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>INCLUSIONS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header> -->
    <ion-card-content [innerHTML]="form.inclusions"></ion-card-content>
  </ion-card>
</ion-content>
