<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PRIVACY POLICY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-subtitle>Read and Accept</ion-card-subtitle>
      <ion-card-title>DATA PRIVACY POLICY</ion-card-title>
    </ion-card-header> -->
    <ion-card-content innerHTML="true">
<strong>HERO’S PRIVACY POLICY</strong><br><br>

HERO’s mission is to provide reliable skilled home services in an open-market environment through a mobile platform to empower the Filipino household. As such, HERO acknowledge and recognize its responsibilities under Republic Act No. 10173 also known as the Data Privacy Act of 2012, with respect to the data collected, recorded, organized, updated, used, consolidated or destroyed, in relation to the platform and/or HERO app. <br><br>

This policy outlines how HERO collect, use, process and disclose your Personal Data through the use of the HERO app and/or platform. This shall apply to the users, both Service Providers and Service Users (collectively referred to as “you”, “your” or “yours”). From time to time, we may update our Privacy Policy to reflect changes in the procedure and the law. Rest assured that we will notify you by posting it on the platform and/or HERO app for your information and reference.<br><br>

As Service User, you signify that you have read, understood and consented to the collection and use of your personal data in accordance with this Privacy Policy. Likewise, by consenting to the Agreement outlining the terms and conditions of use of the platform and/or HERO app, upon availment and use of any of the services, it shall be understood that you have agreed to the collection and processing of your data. <br><br>

Further, we acknowledge that you have the right to be informed whether your personal information were, are, or will be processed. HERO is more than happy to provide you with the general facts on how your personal information are collected, handled and processed so long as the request is not arbitrary and vexatious and shall not pertain to confidential or proprietary information.<br><br>


<strong>WHAT is collected?</strong><br>

<em>“Personal Data” is any information, whether recorded in a material form or not, from which the identity of an individual is apparent or can be reasonably and directly ascertained by the entity holding the information, or when put together with other information would directly and certainly identify an individual. </em><br><br>

<strong>“Sensitive personal information” refers to personal information:</strong><br>

1.	About an individual’s race, ethnic origin, marital status, age, color, and religious, philosophical or political affiliations;<br><br>
2.	About an individual’s health, education, genetic or sexual life of a person, or to any proceeding for any offense committed or alleged to have been committed by such individual, the disposal of such proceedings, or the sentence of any court in such proceedings;<br><br>
3.	Issued by government agencies peculiar to an individual which includes but is not limited to, social security numbers, previous or current health records, licenses or its denials, suspension or revocation, and tax returns; and<br><br>
4.	Specifically established by an executive order or an act of Congress to be kept classified.<br><br>


Full access to our services made available through the platform and/or HERO app is only possible after creation and registration of an account where you would be required to provide the following information: your name, date of birth, address, sex, mobile number, e-mail address and a password. <br><br>

You also share data with us by sending queries through the platform and/or HERO app, submitting a service request, reporting customer service issues, and by taking part in our research and surveys. <br><br>

When you open the HERO app, we may automatically record information such as your IP address, device location, pages or links you access on the platform and/or HERO app, the time spent on those pages and links, items and information searched for on the platform and/or HERO app, date and time of access, and other statistics. We may also use cookies, web beacons, small data text files, or similar technologies to identify your device. <br><br>

We assure you that the processing of personal data and other information collected is based on a legitimate business interest and shall in no way supersede your fundamental rights or freedoms.<br><br>


<strong>WHY collect?</strong><br> 

<em>Your personal data is collected, processed and used for analysis and evaluation for the following purposes:</em><br>

1.	To facilitate full access and use of the platform and/or HERO app with the creation, administration and updating of an account and user profile;<br><br>
2.	To process and validate service requests you submit through the platform and/or HERO app which includes but is not limited to verifying your identity upon log-in, location tracking and screening;<br><br>
3.	To assess your eligibility to provide services as Service Provider;<br><br>
4.	To connect Service Users with Service Providers in relation to the service request;<br><br>
5.	To compare information, and verify with third parties in order to ensure that the information is correct;<br><br>
6.	To perform internal operations necessary to provide services, including troubleshooting software bugs and operational problems, data analysis, testing and research, monitoring and analysis of usage and activity trends;<br><br>
7.	To protect the security or integrity of the platform and/or HERO app and/or any facilities or equipment used to make the services available;<br><br>
8.	To enable communications between the usersthrough the in-app messaging facility;<br><br>
9.	To provide customer care activities, investigate and resolve service support issues;<br><br>
10.	To ensure the safety and security of HERO’s business operations, service, and all users in conducting IT security operations, business continuity, disaster recovery and audit purposes;<br><br>
11.	To verify and carry out financial transactions in relation to payments you make online; audit the downloading of date from the platform; improve the layout and/or content of pages of the platform and/or HERO app and customize for the users; identify visitors on the platform; carry out research on our users’ demographics and behavior; provide you with information we think you may find useful or which you have requested from HERO, provided you have not objected to being contacted for these purposes;<br><br>
12.	Upon successful registration and creation of an account by virtue of which personal information will be provided, said personal information will be used to send you newsletters, marketing and/or promotional materials about HERO’s services and its related companies from time to time. You can unsubscribe from receiving marketing information at any time by using the unsubscribe function within the electronic marketing material.<br><br> 
13.	To comply with legal requirements in relation to credit scoring such as providing information to the Credit Information Corporation in accordance with Republic Act 9501 and the Credit Information System Act.<br><br>
14.	In exceptional circumstances, HERO may be required to disclose personal information, such as when there are grounds to believe that the disclosure is necessary to prevent a threat to life or health, or for law enforcement purposes, or for the fulfillment of legal and regulatory requirements and requests.
<br><br>

Your consent shall be necessary prior to the collection and processing of personal data as well as in instances when the law expressly allows data sharing. If you object or withhold consent, HERO will be compelled to cancel requests for service and terminate access to the platform and/or HERO app as your personal data is essential to provide you the requested service. <br><br>

Personal data is retained for as long as you maintain your account and is not terminated. Once your personal data is no longer necessary for the provision of HERO’s services or upon termination of a legal or business purposes for retaining your personal data, HERO will take steps to prevent access or use of such personal data for any purpose other than compliance with the law and HERO’s privacy policy, or for purposes of safety, security, fraud prevention and detection. <br><br>

There are instances when HERO may need to share some of the information that you have provided to us. Should this happen, it is ensured that your personal data is disclosed on a confidential basis, through secure channels, and in compliance with applicable laws and regulations. HEROwill not share, rent, or sell your personal data to third parties except in special cases where you may have given your consent and as described in this policy. <br><br>

From time to time, as you access the platform and/or HERO app, you may encounter links to third-party sites. HERO does not assume responsibility for the products, services, content and privacy practices of these third-party sites.<br><br>


<strong>WHO protects?</strong><br>

HERO is committed to protect your personal data obtained through the platform and/or HERO app and has instituted appropriate, practical, organizational, technical and physical security measures to ensure that access to your personal data is restricted, free from unauthorized access, processing and disposal, guarded against loss, misuse, abuse, modification, accidental use, disclosure, modification, alteration or destruction. HERO is constantly improving these policies, processes and technologies to make sure that they are always relevant and updated. <br><br>

Should there be an instance that there appears to be an attempt to violateany of your data privacy rights, or is being violated, or  have been violated, HERO is open to address such concerns by sending us an e-mail at ________. 
    </ion-card-content>
  </ion-card>
</ion-content>
