:host {
	ion-item {
      --border-radius: 0px;
  }
	
	/* 
	#93c967 - Green
	#1486a0 - Blue
	#595959 - Dark Gray
	#c2c2c2 - Light Gray 
	*/
	ion-segment {
		ion-segment-button {
			background: #fff;
			color: #595959;

		}

		.segment-button-checked {
			background: #fff;
			color: #93c967;
		}

		.segment-button-indicator {
			display: none;
		}
	}

	.settings {
		ion-icon {
			background: #93c967;
			color: #fff;
			border-radius: 5px;
			padding: 2px;
			margin-right: 5px;
		}

		ion-label {
			color: #333;
		}

		ion-item {
	      --background: none;
	  }
	}

	.field-outer-wrap {
		margin-top: -5px;
	}

	// .bg-item-blue {
	// 	background: $item-blue;
	// }

}
